<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <!-- Required permission for querying installed packages on Android 11+ -->
 <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

 <queries>
  <!-- Allow querying all installed applications -->
  <intent>
   <action android:name="android.intent.action.MAIN" />
  </intent>
 </queries>
</manifest>